.testingClass{
  color: black;
}
html{
  background-color: rgb(106, 106, 106);
}
.grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  
}
.movieTitle{
  display: flex;
  justify-content: center;
}
.previewText{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Img{
  max-width: 15em;
  max-height: 30em;
  display: flex;
  flex-direction: row;
  
}



.trending{
  display: flex;
  justify-content: center;
}

.navBar{
  display: flex;
  justify-content: space-around;
}

.title{
  font-size: 2em;
  font-weight: bold;
  color: white;
}
.release-year{
  margin-top: 1em;

}
.director{
  margin-top: 1em;
}
.detailsPage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin-bottom: 1em;
  
}
.middleRow{
  display: flex;
  justify-content: end;
}
.description{
  display: flex;
  flex-direction: row;
  width: 23em;
  margin-top: 2em;
  
}
.topRow{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 1em;
}

.cover-url{
  display: flex;
  justify-content: center;
  
  
}

.cover_url{
  display: flex;
  justify-content: center;
  height: 30em;
  width: 60em;
  border-radius: 30px;
}
.shadow{
  position: absolute;
  box-shadow: inset 0 0px 20px 24px rgb(106, 106, 106);
  border-radius: 30px;
  height: 30em;
  width: 60em;
}

.lowerRow{
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-left: 1em;
}

.castDiv{
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-left: 1em;
}

.castName{
  font-size: larger;
  text-decoration: underline;
}

.ratingDiv{
  display: flex;
  /* margin-left: 1em;
  margin-top: 2em; */
  color: rgb(255, 200, 0);
}

.ratingBox{
  border: 1px solid black;
  width: 16em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.starsDiv{
  display: flex;
  align-items: center;
}




.rated{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.herocons{
  display: flex;
  flex-direction: row;
  gap: 3em;
  border-bottom: 1px solid black;
  width: 10em;

}

.colorBlue{
  color: blue;
}

.colorOrange{
  color: orange;
}

.colorGreen{
  color: green;
}

