.testingClass{
  color: black;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  
}
.movieTitle{
  display: flex;
  justify-content: center;
}
.previewText{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Img{
  max-width: 8em;
  max-height: 12em;
  display: flex;
  flex-direction: row;
}

.trending{
  display: flex;
  justify-content: center;
}

.navBar{
  display: flex;
  justify-content: space-around;
}