

html{
  background-image: linear-gradient(to bottom,#2c3440, #141920);

}
.grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 2.5em 0.1em;
  margin-bottom: 2em;
  margin-top: 1em;
  justify-content: center;
  
}
.movieTitle{
  display: flex;
  justify-content: center;
  color: #8192a5;
  font-weight: bold;
}
.previewText{
  display: flex;
  align-items: center;
  justify-content: center;

}


.Img {
  border: 4px solid;
  border-image: linear-gradient(135deg,#25f800 0 10px,#02e91d 0 20px,#0a812a 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.Img:hover {
  --_i: 100%;
  color: #CC333F;
  transition: .3s, -webkit-mask-size .3s .3s;
}


.Img{
  max-width: 15em;
  max-height: 30em;
  display: flex;
  flex-direction: row;
  
}

.Img:hover{
  cursor: pointer;
  
}


*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.trending{
  display: flex;
  justify-content: center;
}

.navBar{
  display: flex;
  justify-content: space-around;
}

.title{
  font-size: 2em;
  font-weight: bold;
  color: white;
}
.release-year{
  margin-top: 1em;
  color: #8192a5;

}
.director{
  margin-top: 1em;
  color: #8192a5;
}
.detailsPage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin-bottom: 1em;
  
}
.middleRow{
  display: flex;
  justify-content: center;
}
.description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23em;
  margin-top: 2em;
  color: #8192a5;
  
}
.topRow{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 1em;
}

.cover-url{
  display: flex;
  justify-content: center;
  
  
}

.cover_url{
  display: flex;
  justify-content: center;
  height: 30em;
  width: 60em;
  border-radius: 30px;
}
.shadow{
  position: absolute;
  box-shadow:inset 0px 25px 20px 15px #2a323e

  ;
  border-radius: 30px;
  height: 30em;
  width: 60em;
}
.shadow2{
  position: absolute;
  box-shadow: inset 0px -25px 15px 15px #1e252d;
  border-radius: 30px;
  height: 30em;
  width: 60em;
}

.lowerRow{
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-left: 1em;
}

.castDiv{
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-left: 1em;
}

.castName{
  font-size: larger;
  text-decoration: underline;
}

.ratingDiv{
  display: flex;
  /* margin-left: 1em;
  margin-top: 2em; */
  color: rgb(255, 200, 0);
}

.ratingBox{
  border: 1px solid black;
  width: 16em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: slategray;
  
}
.starsDiv{
  display: flex;
  align-items: center;
}




.rated{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.herocons{
  display: flex;
  flex-direction: row;
  gap: 3em;
  border-bottom: 1px solid black;
  width: 10em;

}


.colorBlue{
  color: blue;
}

.colorOrange{
  color: orange;
}

.colorGreen{
  color: green;
}

.reviewContainer{
  /* margin-left: 2em; */
  /* border: 1px solid black; */
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  height: fit-content;
  /* gap: 3em; */
}

.reviewInfo{
  /* display: flex; */
  /* justify-content: center;
  width: 30em;
  height: 50em;
  border: 1px solid green;
  gap: 2em; */
}

/* .reviewMap{
display: flex;
flex-direction: row;
justify-content: start;
gap: 3em;
} */

.deleteUpdate{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: end;
  align-items:center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #8192a5;
}

.indivReview{
display: flex;
flex-direction: column;
height: 13em;
width: 30em;
margin: 3em;
gap: 0.5em;
position: relative;
border-top: 1px solid slategray;
border-bottom: 1px solid slategray;

}

.mtitle{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #8192a5;
}

.musername{
  font-weight: bold;
  color: #8192a5;
}

.upperReview{
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

.align-top-review{
  display: flex;
  gap: 0.6em;
  align-items: center;
}

.mbody{
  margin-left: 0.5em;
  font-size: larger;
  color:#8192a5;
}

.delete-button:hover{
  color: red;
}
.update-button:hover{
  color: rgb(2, 83, 2);
}


.review-top{
  font-size: larger;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.create-button:hover{
  color: rgb(2, 83, 2);
}

.mprofile{
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

